version: 2

jobs:
  test:
    docker:
      - image: cypress/base:12
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Install Dependencies
          command: yarn
      - run:
          name: Run Packages Audit, Lint, Unit Tests, and E2E Tests
          command: yarn test

workflows:
  version: 2
  test:
    jobs:
      - test